<h2> <%= "#{@employee.first_name} #{@employee.last_name}" %></h2>
<br>
<ul>
<li><%= @employee.alias %></li>
<li><%= @employee.title %></li>
<li><%= @employee.office %></li>
</ul>
<br>
<img src= <%= @employee.img_url %>>